<div class="dialog-container glass-panel">
  <div class="dialog-header">
    <h2 class="dialog-title">Sobre o Pomodoro</h2>
    <button class="close-btn" mat-dialog-close>
      <span class="material-symbols-rounded">close</span>
    </button>
  </div>

  <div class="dialog-content">
    <p>
      A <strong>Técnica Pomodoro</strong> é um método eficaz de gerenciamento de tempo que ajuda a aumentar a
      produtividade e a concentração, dividindo o trabalho em intervalos de 25 minutos, seguidos de breves pausas.
    </p>

    <h3>Como Funciona</h3>
    <ul>
      <li><strong>Escolha uma Tarefa:</strong> Selecione uma tarefa importante que você precisa realizar.</li>
      <li><strong>Defina um Cronômetro:</strong> Ajuste o cronômetro para 25 minutos. Este é o tempo sugerido para
        se concentrar em uma única atividade sem interrupções.</li>
      <li><strong>Trabalhe na Tarefa:</strong> Concentre-se totalmente na tarefa até que o cronômetro toque. Evite
        distrações durante esse período.</li>
      <li><strong>Faça uma Pausa:</strong> Após os 25 minutos, faça uma pausa de 5 minutos. Use esse tempo para
        relaxar.</li>
      <li><strong>Repita o Processo:</strong> Após completar quatro ciclos, faça uma pausa mais longa, de 15 a 30
        minutos.</li>
    </ul>

    <h3>Benefícios</h3>
    <ul>
      <li><strong>Aumenta a Concentração:</strong> Trabalhar em intervalos curtos ajuda a manter o foco.</li>
      <li><strong>Melhora a Produtividade:</strong> Incentiva a conclusão de tarefas em um tempo determinado.</li>
      <li><strong>Reduz a Procrastinação:</strong> Dividir o trabalho torna a tarefa menos intimidante.</li>
      <li><strong>Promove o Descanso:</strong> Pausas regulares ajudam a evitar o esgotamento.</li>
    </ul>

    <p>
      A Técnica Pomodoro é uma ferramenta simples, mas poderosa, que pode ser adaptada a diferentes estilos de
      trabalho.
    </p>

    <div class="credits">
      <p>PomoFi v0.0.1</p>
      <p>Desenvolvido por Alexsander Lopes Camargos</p>
    </div>
  </div>
</div>