<h2 mat-dialog-title>
  Técnica Pomodoro: como gerenciar seu tempo e ser mais produtivo
</h2>

<mat-dialog-content class="mat-typography">
  <p>
    A Técnica Pomodoro é um método de gerenciamento de tempo desenvolvido por
    Francesco Cirillo no final dos anos 1980. A técnica consiste na utilização
    de um cronômetro para dividir o trabalho em períodos de 25 minutos,
    separados por breves intervalos.
  </p>
></mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
