<!-- FOOTER START -->
<footer id="footer">
  <!-- FOOTER CONTENT START -->
  <div class="footer-content">
    <p>Projetado e desenvolvido usando Angular.</p>
    <p>
      Copyright &copy; 2022 - 2025, por
      <a class="hover:text-green" href="https://alcamargos.me" rel="noopener noreferrer" target="_blank">Alexsander
        Lopes Camargos</a>
      -
      <a href="https://mit-license.org/" rel="noopener noreferrer" target="_blank">MIT License</a>
    </p>
  </div>
  <!-- FOOTER CONTENT END -->
</footer>
<!-- FOOTER END -->