<div class="app-container">
  <!-- Top Bar -->
  <app-top-bar [isPlayerActive]="isPlayerPlaying" (togglePlayer)="togglePlayerVisibility()"></app-top-bar>

  <!-- Timer Component -->
  <div class="timer-container" cdkDrag [style.display]="isTimerVisible ? 'block' : 'none'">
    <app-timer [isMuted]="isMuted" (timerStart)="onTimerStart()" (timerPause)="onTimerPause()"></app-timer>
  </div>

  <!-- YouTube Player Component -->
  <div class="youtube-container" cdkDrag [style.display]="isPlayerVisible ? 'block' : 'none'">
    <app-youtube-player #youtubePlayer [isMuted]="isMuted"
      (playbackStateChange)="onPlayerStateChange($event)"></app-youtube-player>
  </div>

  <!-- Dock -->
  <app-dock [isTimerActive]="isTimerVisible" [isTimerRunning]="isTimerRunning" [isMuted]="isMuted"
    (toggleTimer)="toggleTimerVisibility()" (toggleMute)="toggleMute()"></app-dock>
</div>